<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimpleWorkfloorManagementSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SwmSuite" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=swms;Connect Timeout=30;Trusted_Connection=yes;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DalFactory" value="SwmSuite.DataAccess.Sql.DalFactory,SwmSuite.DataAccess.Sql"/>
    <!--<add key="ServiceBroker" value="SwmSuite.Proxy.WebService.ServiceBroker,SwmSuite.Proxy.WebService" />
    <add key="ServiceAddress" value="localhost"/>-->
    <add key="ServiceBroker" value="SwmSuite.Proxy.Inproc.ServiceBroker,SwmSuite.Proxy.Inproc"/>
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=swms;Connect Timeout=30;Trusted_Connection=yes;"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <applicationSettings>
    <SimpleWorkfloorManagementSuite.Properties.Settings>
      <setting name="ServiceBroker" serializeAs="String">
        <value>SwmSuite.Proxy.WebService.ServiceBroker,SwmSuite.Proxy.WebService</value>
      </setting>
      <setting name="ServiceAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="DalFactory" serializeAs="String">
        <value>SwmSuite.DataAccess.NHibernate.DalFactory,SwmSuite.DataAccess.NHibernate</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=.\SQLEXPRESS;Initial Catalog=swms;Connect Timeout=30;Trusted_Connection=yes;</value>
      </setting>
    </SimpleWorkfloorManagementSuite.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="CustomizedMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomizedMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SwmSuite" applicationName="SwmSuite" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
