<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwmSuite.Proxy.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="SWMSuite.Proxy.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SwmSuite.Proxy.WebService.Properties.Settings>
            <setting name="SwmSuite_Proxy_WebService_AlertService_AlertService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/AlertService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_CountryService_CountryService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/CountryService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_ZipCodeService_ZipCodeService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/ZipCodeService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_EmployeeService_EmployeeService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/EmployeeService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_AvatarService_AvatarService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/AvatarService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_UserService_UserService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/UserService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_MessageService_MessageService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/MessageService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_AgendaService_AgendaService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/AgendaService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_TimeTableService_TimeTableService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/TimeTableService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_TaskService_TaskService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/TaskService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_LoggingService_LoggingService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/LoggingService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_ConnectionTestService_ConnectionTestService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/ConnectionTestService.asmx</value>
            </setting>
            <setting name="SwmSuite_Proxy_WebService_HolidayService_HolidayService" serializeAs="String">
                <value>http://localhost/SWMSuite.Facade.WebService/HolidayService.asmx</value>
            </setting>
        </SwmSuite.Proxy.WebService.Properties.Settings>
        <SWMSuite.Proxy.WebService.Properties.Settings>
            <setting name="SWMSuite_Proxy_WebService_EmployeeGroupService_EmployeeGroupService" serializeAs="String">
                <value>http://localhost:49351/Crud/EmployeeGroupService.asmx</value>
            </setting>
            <setting name="SWMSuite_Proxy_WebService_EmployeeService_EmployeeService" serializeAs="String">
                <value>http://localhost:49351/Crud/EmployeeService.asmx</value>
            </setting>
        </SWMSuite.Proxy.WebService.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
